.DS_Store
.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/output
node_modules
.swift-version
*.tgz
*.log
/kotlin/generated/src/main/resources/
/c-sharp/generated/lib/
/c-sharp/nupkgs/
/dart/generated/flutter-package
.gradle
local.properties
Package.resolved
package-lock.json
DebugGenerated
.idea
*.DotSettings.user
