name: Mac
on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
      - uses: actions/checkout@v5
      
      - name: Build
        run: swift build
        
      - name: Test
        run: swift test
